
<div class="cont ">
  <div class="cuadro">
   
    <button class="btn" (click)="onClick()">log in</button>
  </div>

</div>
<div class="login-container-parent">
  <div class="header">
    <div class="logo-wallet"></div>
    <div class="app-title-container">
      <h1 class="title-header">Bienvenido a MyWallet</h1>
      <p class="subtitle">simple, segura y trazable</p>
    </div>
  </div>
  <div class="session-method">
    <div class="login-container">
      <h2 class="title">Iniciar Sesion</h2>
      <div class="type-account">
        <div class="google-container account-container btn" (click)="onClick()">
          <div class="logo-google logo"></div>
          <p class="login-type text">A travéz de tu cuenta de Google</p>
        </div>
        <div class="microsoft-container account-container btn">
          <div class="logo-microsoft logo"></div>
          <p class="login-type text">A travéz de tu cuenta de Microsoft</p>
        </div>
      </div>
    </div>
      <div class="login-container">
        <h2 class="title">Soy Nuevo</h2>
        <div class="type-account">
          <div class="google-container account-container btn">
            <div class="logo-google logo"></div>
            <p class="login-type text">A travéz de tu cuenta de Google</p>
          </div>
          <div class="microsoft-container account-container btn">
            <div class="logo-microsoft logo"></div>
            <p class="login-type text">A travéz de tu cuenta de Microsoft</p>
          </div>
        </div>
      </div>
  </div>
  
</div>
